<li class="meetup-item">
    <article>
        <div class="meetup-summary">
        <div class="meetup-image">
            <img src="{{ image }}" alt="{{ title }}" />
        </div>
        <div class="meetup-details">
            {% comment %} <h3>{{ meetup.title }}</h3> {% endcomment %}
            <h3>{{ title }}</h3>
            {% comment %} <address>{{ meetup.location }}</address> {% endcomment %}
            <address>{{ location }}</address>
        </div>
        </div>
        <div class="meetup-actions">
        <a href={% url 'meetup-detail' slug %} class="btn">more details</a>
        </div>
    </article>
</li> 