{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meetup_title }}</title>
    <link rel="stylesheet" href={% static 'meetups/styles/base.css' %}> <link
    rel="stylesheet" href={% static 'meetups/styles/meetup-details.css' %}>
  </head>
  <body>
    <main>
      <article>
        <img src="" alt="" />
        <section id="location">
          <h2>meetup location</h2>
          <address>
            the location of this meetup: <span>LOCATION</span> (ADDRESS)
          </address>
        </section>
        <section id="details">
          <h2>meetup topics</h2>
          <p>{{ meetup_description }}</p>
          <footer>
            <p>
              need more details? please contact the <a href="">organizer</a>
            </p>
          </footer>
        </section>
        <section id="registration">
          <h2>join us!</h2>
          FORM
        </section>
      </article>
    </main>
  </body>
</html>
